@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.good {
  background-color: green !important;
}

.ok {
  background-color: yellow !important;
}

.bad {
  background-color: red !important;
}

.react-calendar__month-view__days__day {
  color: black !important;
  font-weight: bold !important;
}